*{
    margin: 0% 0% 0% 0%;
}
/*haut/menu début*/

header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: space-around;
        background-color: white;
        width: 100%;
        height: 50px;
        position: sticky;
        top: 0;
        z-index: 4;
        padding: 20px 0;   
}
header nav ul {
    
        display: flex;
        align-items: center;
        margin: 0;
        height: 100%;
        list-style-type: none;
}
header #logo{
        transition: all 0.2s ease-in-out;
    }
#logo:hover img:first-child {
        animation: logo-animation 0.5s ease-in;
    } 
@keyframes logo-animation{
        20% {
            transform: rotate(15deg);}
        40% {
            transform: rotate(-15deg) ;
    }
}
.menu_bouton_burger{
        display: none;  
}
li a{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
}
header nav ul a{
        color: #000000;
        text-decoration: none;
}
.menu1 {
        margin-right: 25px;
}
.menu2{
        margin-right: 25px;
}
.menu3{
        margin-right: 25px;
}
.menu4{
        margin-right: 25px;
}
.menu1:hover{
        text-decoration: underline;
}
.menu2:hover{
        text-decoration: underline;
}
.menu3:hover
      {
        text-decoration: underline;    
}
.menu4:hover{
        text-decoration: underline;
}
/*haut/menu fin*/

/*début section 1*/
.welcome{
        background-image: url("illustration_principale.jpg");
        background-size: 115%;
        background-repeat: no-repeat;
}
.welcome p{
        padding-top: 50px;
        padding-left: 140px ;
        font-family: "poppins bold2";
        font-size: 20px;
        font-style:normal;
        line-height: 6em;
        color: #df6951;
}
.welcome h1{
        margin-left: 8%;
        font-family: "volkhov bold2";
        font-size: 86px;
        font-style: normal;
        text-align: left;
        line-height: 1em;
        color:#ffffff;
}
.souligne{
        float: left;
        position: absolute;
        left: 20px;
        top: 501px;
        margin-left: 8%;
}
article{  
        font-family: "poppins regular";
        color: rgb(214, 211, 211);
        font-size: 20px;
        line-height: 2em;
        padding-top: 50px;
        margin-left: 8%;
}
.button{ 
        background-color: rgb(255, 182, 45);
        border-color: rgb(255, 182, 45);
        box-shadow: 0px 20px 20px rgba(248, 193, 92, 0.226);
        margin-top: 3%;
        margin-bottom: 60px;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 200px;
        justify-content: center;
        color: #ffff;
        border-radius: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        transition: transform 0.2s;
}
.button:hover{
        transform:scale(1.05);
        transition: 2ms ease-out;
}
/*fin de section 1*/

/*début section 2*/
#section2{
        padding-top: 2%;
}
.decor1{
        position: absolute;
        margin-left: 90%;
}
#section2 h3{
        font-family:"poppins regular";
        font-size: 18px;
        color: #5e6282;
        margin-top: 3%;
        text-align: center;
}
#section2 h1{
        text-align: center;
        color:rgb(0, 0, 70);
        font-family: "volkhov bold2";
        font-size: 50px; 
        padding-bottom: 30px;
}


/*--photo plat+titre*/
#image{    
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        text-align: center;
        font-size: larger;
        color:rgb(97, 97, 99);
        margin-bottom: 10%;
}
#section2>h4{
        font-family: "poppins regular";
        font-size: 18px;
}
#section2 .conteneur_plat {
        justify-content: center;
}
#conteneur_plat{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        margin-bottom: 50px;
        justify-content: center;
        align-items: stretch;      
}
.image1, .image2, .image3{
        margin-right: 25px;
        padding-bottom: 30px;
        box-shadow: 4px 4px 4px 4px rgb(239, 239, 243);
        border-radius: 25px;
        font-family: "poppins regular";
        font-style: normal;
        line-height: 28px;
        font-weight: 500;
        font-size: 16px;
        color:#5e6282;
        text-align: center;  
}
.image3{
        background-color: white;
        z-index: 1; 
}
/*--deco section2*/
.decoration_filet{
        width: 9%;
        position: absolute;
        margin-left: 24%;
        float: right;
}
/*--photo maki+titre*/
#conteneur_maki{
        display: flex;
        flex-wrap: wrap;    
        align-items: center;
        justify-content: center;
        text-align: center;
}
#conteneur_maki h6{
        font-family: "open sans regular2";
        font-size: 20px;
        line-height: 1em;
        padding-bottom: 10%;
}
.photo1,.photo2, .photo3, .photo4{
        width:15%;
        padding-top: 20px;
        padding-left: 10px;
        padding-right:20px;
        padding-bottom: 80px;
        font-size: 16px;
        line-height: 2em;
        font-family: "poppins regular";
        color: #5e6282; 
        text-align: center;
}
.photo1:hover, .photo2:hover,.photo3:hover, .photo4:hover{
        border-radius: 25px 25px 25px 25px;
        box-shadow: 4px 4px 4px 4px rgb(239, 239, 243);
}
.button2{ 
        display: block;
        width: center;
        background-color: rgb(255, 182, 45);
        border-color: rgb(255, 182, 45);
        box-shadow: 0px 20px 20px rgba(248, 193, 92, 0.226);
        margin-left: 45%;
        margin-top: 50px;
        margin-bottom: 50px;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 200px;
        justify-content: center;
        color: white;
        border-radius: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        text-align: center; 
}        
.button2:hover{
        transform:scale(1.05);
        transition: 2ms ease-out;
}
/*fin section 2*/

/*début section 3*/
#section3{     
        background-image: url("illustration_chef.jpg");
        position: relative;
        background-size: 140%;
        width: 100%;
        background-repeat: no-repeat;
        padding: 0px;
        padding-bottom: 400px;
}

.vidéo{  
        padding-top: 50px;
        padding-left: 10%;
        width: 20%;
        position: absolute;
        cursor: pointer;
}  
.bouton_play{
        float: left;
        width: 4%;
        padding-top: 7%;
        left: 18%;
        position: relative; 
        cursor: pointer;
}
.souligne2{
        float: left;
        position: absolute;  
        top: 370px;
        left: 200px;
        z-index:2;
}
.chef{
        display: none;
}
#section3 h1{
        font-family: "volkhov bold"; 
        font-size: 84px;  
        padding-top: 300px;
        color:white;
        font-size: 70px;
}
#section3 h1, p{
        padding-left: 10%;
}
#section3 p{
        padding-top: 30px;
        padding-bottom: 20px;
        color:white;
        font-family:  "poppins regular";
        line-height: 2em;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
}
.illustration_endroit{
        position: absolute;
        padding-top: 20px;
        width:100%;
        height: auto;
        z-index: 3;
        bottom: -335px;
}
.photo_endroit2{
        margin-left: -5px;
}
/*fin section 3*/

 /*début section4*/
#section4{ 
        padding-top: 350px;
        background-image: url("illustration_commander.jpg");
        position: relative;
        background-size: 140%;
        width: 100%;
        background-repeat: no-repeat;
}
#section4 h3{
        margin-left: 8%;
        padding-top: 50px;
        font-family: "poppins regular";
        font-size: 18px;
        font-weight: 600;
        color:#5e6282;
        padding-bottom: 20px;
}
#section4 h1{ 
        margin-left: 8%;
        font-family: "volkhov bold";
        font-size: 50px;
        font-weight: 400;
        line-height: 1em;
        padding-bottom: 20px;
}
#commander{
        list-style-type: none;
        margin-top: 60px;
        font-family: "poppins regular";
        font-size: 16px;
        color: #3e3f43;
}
#section4 p{
        font-family: "poppins regular";
        font-size: 16px;
        padding-left: 15px;
        margin-left: 8%;
}
.button3{
        background-color: rgb(255, 182, 45);
        border-color: rgb(255, 182, 45);
        box-shadow: 0px 20px 20px rgba(248, 193, 92, 0.226);
        margin-top: 50px;
        margin-bottom: 50px;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 200px;
        color: white;
        border-radius: 20px;
        font-family: "opensans regular";
        font-size: large;       
}
.button3:hover{
        transform:scale(1.05);
        transition: 2ms ease-out;
}
    /*fin section 4
    /*début section5*/
#section5 h3{
        font-family: "poppins regular";
        font-size: 18px;
        color: #5e6282;
        margin-top: 70px;
        margin-bottom: 10px;
        text-align: center;
}
#section5 h1{
        font-family: "poppins-bold.woff";
        text-align: center;  
        font-size: 50px;
        color: #14183e;
        padding-bottom: 30px;
        margin-bottom: 50px;
}
/* renseignements formulaire*/
#section5 h4{
        font-family: "poppins regular";
        font-size: 18px;
        color: black;
        line-height: 3em;
}
#section5 p{
        font-family: "poppins regular";
        font-size: 14px;
        color:#868686;
        padding-right: 25%;
}
/* début champs formulaire*/

.formulaire{
        line-height: 2em;
}
.remplir_formulaire{
        line-height: 1em;
}
form{
        line-height: 3em;
        font-size: 20px;  
}
.formulaire_champs{
        padding-bottom: 10px;
}
input{
        border-top: none;
        border-left: none;
        border-right: none;
        text-decoration: none;
}
input:focus {
        outline:  none;
        border-bottom-color: rgb(38, 121, 189);
}
.image_formulaire{
        padding-right: 0px;
        float: right;  
        width: 490px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;  
        height: 625px; 
}
#conteneur_formulaire{
        display: table;
        width: 100%;
        box-shadow: 0px 4px 61px 0px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        max-width: 1020px;
        margin: auto;
        padding-left: 25px;
}
.bouton_envoyer_formulaire{
        margin-top: 50px;
        margin-left: 140px;
        margin-bottom: 50px;
        background-color: rgb(49, 78, 243);
        border: none;
        box-shadow: 0px 10px 10px 1px rgba(131, 155, 235, 0.637);
        font-size: larger;
        color: white;
        width: 250px;
        height: 60px;
        border-radius: 10px;
        cursor: pointer;
} 
footer{
        margin-top: 50px;
        background-color: rgb(241, 240, 240);
        background-size: 100%;
        padding-top: 50px;
        padding-bottom: 5px;  
}
.footer_logo{
        float: left;
        margin-left: 12%;
        margin-right: 10%;
        font-size: 16px;
        color:#5e6282;
}
.footer_logo:hover img:first-child {
    animation: logo-animation 0.5s ease-in;
} 
@keyframes logo-animation{
    20% {
        transform: rotate(15deg);}
    40% {
        transform: rotate(-15deg) ;
}
}
.footer_logo h4{
        padding-top: 20px;
        font-family: "poppins regular";
        font-size: 18px;
        font-weight: 500;
}
footer h3{
        font-family: "poppins bold";
        line-height: 21px;
        font-weight: 500;
        line-height: 31px;
        font-size: 18px;
        color: #000000;
}
.lien_complet_footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
}
.logo_uberEats2{
        width: 200px;
}
footer a{
        font-family: "poppins regular";
        font-size: 18px;
        line-height: 26px;
        font-weight: 500;
        text-decoration: none;
        color: #5e6282;
        line-height: 2em;
}
.découvrir:hover{
        text-decoration: underline;
}
.nouveau:hover{
        text-decoration: underline;
}
.commander_footer:hover{
        text-decoration: underline;
}
.rdv:hover{
        text-decoration: underline;
}
.bouton_google_play, .bouton_apple{
        background-color: #000000;
        border:#000000;
        border-radius: 25px;
        margin-top: 25px;
        padding-left: 20px;
        padding-right: 20px;
}
span{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        color:antiquewhite;
}
footer p{ 
        font-family: "poppins regular";
        font-size: 14px;
        text-align: center;
        margin-right: 10%;
        color:rgb(110, 110, 110);
}
    @media screen and (min-width: 360px) and (max-width: 779px){
    li{
        display: none;
    }
    .menu_bouton_burger{
        display: flex;
        align-self: flex-end;
        justify-content: flex-end;

    }
    .welcome{
        background-size: 1500px;
    }.welcome p {
        padding-top: 50px;        
        padding-bottom: 50px;
        line-height: 1em; 
        text-align: center;    
        padding-left: 0px ;
    }
    .welcome h1{
        margin-left: 30px;
        font-size: 86px;
        text-align: center;
    }
    .souligne{
        top: 450px;
        margin-left: 250px;
        width: 40%;
    }
    article{  
        font-size: 18px;
        text-align: center;
    }
    #section2 h3{
        font-size: 15px;
        margin-top: 3%;
        text-align: center;
        padding-left: none;
    }
    #section2 h1{
        font-size: 40px; 
    }
    #conteneur-plat .image1, .image2, .image3 {
        position: absolute;
        opacity: 0;
        margin: 0;
    }
    @keyframes animation-carte1{
        0% {
            opacity: 0;
            transform: translateX(0%);
        }
        2%{
            opacity: 1;
            transform: translate(0%);
        }
        33% {
            opacity: 1;
            transform: translateX(0%);
        }
        35% {
            opacity: 0;
            transform: translateX(-50%);
        }
        100% {
            opacity: 0;
            transform: translateX(50%);
        }
    } 
    @keyframes animation-carte2{
        0% {
            opacity: 0;
            transform: translateX(50%);
        }
        33%{
            opacity: 0;
            transform: translate(50%);
        }
        34% {
            opacity: 1;
            transform: translateX(0);
        }
        67% {
            opacity: 1;
            transform: translateX(0);
        }
        68%{
            opacity: 0;
            transform: translateX(-50%);
        }   
        97% {
            opacity: 0;
            transform: translateX(-50%);
        }
        100% {
            opacity: 0;
            transform: translateX(50%);
        }
    }
    @keyframes animation-carte3{
        0% {
            opacity: 0;
            transform: translateX(-50%);
        }
        33% {
            opacity: 0;
            transform: translateX(0%);
        }
        67%{
            opacity: 0;
            transform: translate(50%);
        }
        68% {
            opacity: 1;
            transform: translateX(0%);
        }
        98% {
            opacity: 1;
            transform: translateX(0);
        }
        100% {
            opacity: 0;
            transform: translateX(-50%);
        }
    }
    .image1{
        animation: animation-carte1 15s infinite;
    }
    .image2{
        animation: animation-carte2 15s infinite;
    }
    .image3{animation: animation-carte3 15s infinite;
    }
    .decoration_filet{
        opacity: 0%;
    }
    .decor1{
        display: none;
    }
    #conteneur_maki h6{
        font-family: "open sans regular2";
        font-size: 20px;
        line-height: 2em;
    }
    .photo1,.photo2, .photo3, .photo4{
        padding-top: 20px;
        padding-left: 40px;
        padding-right:40px;
        font-size: 16px;
        line-height: 2em;
        font-family: "poppins regular";
        color: #5e6282; 
        text-align: center;
    }
    
    .photo1:hover, .photo2:hover,.photo3:hover, .photo4:hover{
        border-radius: none;
        box-shadow: none;
    }
    .button2{
        display: block;
        width: center;
        margin-left: 35%;
    }      
    .vidéo{ 
        padding: 0%;
        margin: 0%;
        width: 100%;
        height: auto;
        position: absolute;
        cursor: pointer;
    }
    .bouton_play{
        float: left;
        width: 15%;
        padding-top: 20%;
        left: 42%;
        padding-bottom: 9%;
        position: relative; 
        cursor: pointer;
    }
    .chef{
        margin-top: 0;
        margin: 0%;
        display: flex;
        width: 100%;
        height: auto;
    }
    .souligne2{
       display: none;
    }
    #section3 h1{
        display: none;
    }
    #section3 p{
        display: none;
    }
    #section3 p{
        display: none;
    }#section3{     
        background-image: none;
    }
    .illustration_endroit{
        position: relative;
        z-index: 1;
        left:0;
        margin-top: 0%;
        bottom: -42px;
    }
    .photo_endroit1{
        float:left;
        width: 100%;
        height: auto;
    }
    .photo_endroit2{
        float: right;
        width: 100%;
        height: auto;
        padding-bottom: 150px;
    }
    #section4{ 
        background-image: none;
    }
    #section4 h3{
        text-align: center;
    }
    #section4 h1{ 
        text-align: center;
    }
    #commander{
        display: flex;
        flex-direction: column;
        justify-content: left;
    }
   #commander>p{
        list-style-type: none;
        margin-top: 10px;
        margin-left: 13%;
        margin-bottom: 0px;
        font-family: "poppins regular";
        font-size: 16px;
        color: #3e3f43;
    }
    .button3{
        margin-left: 38%;
        margin-top: 50px;     
    }
    .button3:hover{
        width: 210px;
    }
        /*fin section 4
        /*début section5*/
    #section5 h1{
        font-family: "poppins-bold.woff";
        text-align: center;  
        font-size: 50px;
        color: #14183e;
        padding-bottom: 30px;
        margin-bottom: 50px;
    }
    #section5 h3{
        font-family: "poppins regular";
        font-size: 18px;
        color: #5e6282;
        margin-top: 100px;
        margin-bottom: 10px;
        text-align: center;
    }
    /* renseignements formulaire*/
    #section5 h4{
        font-family: "poppins regular";
        font-size: 18px;
        color: black;
        line-height: 3em;
    }
    #section5 p{
        font-family: "poppins regular";
        font-size: 14px;
        color:#868686;
    }
    /* début champs formulaire*/
    
    .formulaire{
        line-height: 2em;
    }
    .remplir_formulaire{
        line-height: 1em;
    }
    form{
        line-height: 3em;
        font-size: 20px;  
    }
    .image_formulaire{
        display: none;
    }
    #conteneur_formulaire{
        display: table;
        flex-wrap: nowrap;
        width: 20%;
        box-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
        border-radius: none;
        max-width: 100px;
        margin: none;
        padding-left: 0px;
        padding-right: 0px;
    }
    .bouton_envoyer_formulaire{
        margin-left: 40px;
    } 
    .footer_logo{
        text-align: center;
        padding-bottom: 40px;
    }
     footer{
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;  
    }
     footer h3{
         display: flex;
    }
    .lien_complet_footer{
         display: flex;
         flex-wrap: wrap;
         margin-left: 15%;
    }          
    .footer_lien{
         padding-right: 100px;
    }
    .footer_liens2{
         padding-left: 2%;
         
    }
    .telechargement_appli{
            padding-top: 20px;
            text-align: center;
    }
    footer p{
         padding-top: 10px;
         margin-right: 10%;
         padding-bottom: 2px;
     } 
    }
    @media screen and (min-width: 1377px) and (max-width: 1571px){
        #section4{ 
            width: 150%;
        }
        .welcome>p{
            padding-left: 120px;
            text-align: left;
        } 
    }
    @media screen and (min-width: 1041px) and (max-width: 1376px){ 
        .welcome{
            background-size: 160%;
        }
        .welcome>p{
            padding-left: 100px;
            text-align: left;
        } 
        #conteneur_maki{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        #section3{     
            padding: 0px;
            padding-bottom: 0px;
            background-size: 159%;
        }
        .bouton_play{
            padding-top: 8%;  
        }
        .souligne2{
          width: 30%;
           top: 270px;
           left: 220px;
        }
        #section3>h1{
            padding-top: 200px;
        }
        #section3 h1, p{
            padding-left: 10%;
        }
        #section3 p{
            padding-top: 10px;
            padding-bottom: 370px;
        }
        .illustration_endroit{
            padding-top: 400px;
            left:0;
            bottom: -395px;
        }
        #section4{    
            background-size: 180%;
        }
        .image_formulaire{  
            height: 610px; 
        }
        #conteneur_formulaire{
            width: 80%;
            margin-left: 120px;
            margin-right: 100px;
        }
        .bouton_envoyer_formulaire{
            display: block;
            margin-left: 10%;
        } 
        .image_formulaire{
            width: 50%
        }
        .logo_uberEats2{
            width: 200px;
        }
        .footer_logo{
            float: left;
            margin-left: 2%;
            margin-right: 1%;
        }
        .footer_liens2{
            padding-left: 30px;
        }
        .footer_lien{
            padding-left: 20px;
        }  .telechargement_appli{
            padding-left: 30px ;
        }
    }
    @media screen and (min-width: 884px) and (max-width: 1192px){
        .image1, .image2{
            margin-left: 50px;
            margin-bottom: 50px;
        }  
        .photo_endroit1{
            float:left;
            width: 50%;
            height: auto;
        }
        .photo_endroit2{
            float: right;
            width: 50%;
            height: auto;
        } 
}
    @media screen and (min-width: 884px) and (max-width: 1039px){
        li{
            display: none;
        }
        .menu_bouton_burger{
            display: flex;
            justify-content: end;
        }
        .welcome{
            background-size: 180%;
        } 
        .decoration_filet{
            display: none;
        }
        .welcome>p{
            padding-left: 80px;
            text-align: left;
        }
        .decor1{
            display: none;
        }
        footer>h3{
            font-family: "poppins regular";
            font-size: 18px;
            color: #5e6282;
        }
        .welcome{
            background-size: 160%;} 
        #section3{     
            padding: 0px;
            padding-bottom: 0px;
            background-size: 160%;
        }
        .bouton_play{
            padding-top: 80px;  
        }
        .souligne2{
            width: 30%;
            top: 270px;
            left: 220px;
        }
        #section3>h1{
            padding-top: 200px;
        }
        #section3 h1, p{
            padding-left: 10%;
        }
        #section3 p{
            padding-top: 10px;
            padding-bottom: 320px;
        }
        .illustration_endroit{
            display: inline-block;
            width: 100%;
        }
        .photo_endroit1{
            float:left;
            height: auto;
        }
        .photo_endroit2{
            float: right;
            height: auto;
        }
        #section4{    
            background-size: 190%;
        }
        .image_formulaire{  
            height: 610px; 
        }
        #conteneur_formulaire{
            width: 80%;
            margin-left: 120px;
            margin-right: 100px;
        }
        .bouton_envoyer_formulaire{
            display: block;
            margin-left: 10%;
        } 
        .image_formulaire{
            width: 50%
        }
        .footer_logo{
            float: left;
            margin-left: 2%;
            margin-right: 1%;
        } 
        .logo_uberEats2{
            width: 200px;
        }
        .footer_liens2{
            padding-left: 50px;
        }
        .footer_lien{
            padding-left: 20px;
        }
        .telechargement_appli{
            padding-left: 30px ;
        }
    }
    @media screen and (min-width: 884px) and (max-width: 957px){
        #conteneur_formulaire{
            width: 40%;
            margin-left: 100px;
            padding-left: 150px;
            padding-right: 150px;
        }
        .bouton_envoyer_formulaire{
            display: block;
            margin-left: 80px; 
        }  
        .image_formulaire{
            display: none;
        }
        #section5 h4{
            text-align: center;
        }
        #section5 p{
            text-align: center;
        }
        footer{
            margin-top: 50px;
            background-color: rgb(241, 240, 240);
            background-size: 100%;
            padding-top: 50px;
            padding-bottom: 5px;  
        }
        .footer_logo{
            margin-left: 2%;
            margin-right: 2%;
        }
        .lien_complet_footer{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        .logo_uberEats2{
            width: 200px;
        }
        .footer_logo{
            padding-left: 10px;
        }
        .footer_liens2{
            padding-left: 30px;
        }
        .footer_lien{
            padding-left: 20px;
        }  
        .telechargement_appli{
        padding-left: 30px ;
        }
    }
    @media screen and (min-width: 780px) and (max-width: 883px){
        li{
            display: none;
        }
        .menu_bouton_burger{
            display: flex;
            justify-content: end;
        } 
        .welcome{
            background-size: 190%;
        } 
        .welcome p {
            padding-left: 8%;
        }
        .illustration_endroit{
            width: 100%;
            height: auto;
            bottom: -185px;
        }
        #section3{     
            padding: 0px;
            padding-bottom: 0px;
            background-size: 190%;
        }
        .bouton_play{
            padding-top: 170px;  
        }
        .souligne2{
            width: 30%;
            top: 270px;
            left: 220px;
        }
        .conteneur_plat{
            display:flex;
            flex-wrap: nowrap;
        }
        .decoration_filet{
            display: none;
        }
        .decor1{
            display: none;
        }
        #section3>h1{
            margin-left: 8%;
            text-align: left;
        }
        #section3 h1, p{
            padding-left: 8%;
        }
        #section3 p{
            padding-top: 10px;
            margin-left: 8%;
            padding-bottom: 200px;
        }
        .souligne2{
            float: left;
            position: absolute;  
            top: 200px;
            left: 200px;
            z-index:2;
        }
        .illustration_endroit{
            position: absolute;
            padding-top: 20px;
            width:100%;
            height: auto;
            z-index: 3;
            bottom: -355px;
        }
        .image1, .image2{
            margin-left: 50px;
            margin-bottom: 50px;
        }  
        .photo_endroit1{
            float:left;
            width: 50%;
            height: auto;
        }
        .photo_endroit2{
            float: right;
            width: 50%;
            height: auto;
        } 
        #section4{ 
            padding-top: 350px;
            background-image: url("illustration_commander.jpg");
            position: relative;
            background-size: 100%;
            width: 100%;
            background-repeat: no-repeat;
        }
        #section4 p{
            font-family: "poppins regular";
            font-size: 16px;
            margin-left: 8%; 
        }
        #conteneur-plat .image1, .image2, .image3 {
            position: absolute;
            opacity: 0;
            margin: 0;
        }
        @keyframes animation-carte1{
            0% {
                opacity: 0;
                transform: translateX(0%);
            }
            2%{
                opacity: 1;
                transform: translate(0%);
            }
            33% {
                opacity: 1;
                transform: translateX(0%);
            }
            35% {
                opacity: 0;
                transform: translateX(-50%);
            }
            100% {
                opacity: 0;
                transform: translateX(50%);
            }
        } 
        @keyframes animation-carte2{
            0% {
                opacity: 0;
                transform: translateX(50%);
            }
            33%{
                opacity: 0;
                transform: translate(50%);
            }
            34% {
                opacity: 1;
                transform: translateX(0);
            }
            67% {
                opacity: 1;
                transform: translateX(0);
            }
            68%{
                opacity: 0;
                transform: translateX(-50%);
            }   
             97% {
                opacity: 0;
                transform: translateX(-50%);
            }
            100% {
                opacity: 0;
                transform: translateX(50%);
            }
        }
        @keyframes animation-carte3{
            0% {
                opacity: 0;
                transform: translateX(-50%);
            }
            33% {
                opacity: 0;
                transform: translateX(0%);
            }
            67%{
                opacity: 0;
                transform: translate(50%);
            }
            68% {
                opacity: 1;
                transform: translateX(0%);
            }
            98% {
                opacity: 1;
                transform: translateX(0);
            }
            100% {
                opacity: 0;
                transform: translateX(-50%);
            }
        }
        .image1{
            animation: animation-carte1 15s infinite;
        }
        .image2{
            animation: animation-carte2 15s infinite;
        }
        .image3{
            animation: animation-carte3 15s infinite;
        }
        .button2{ 
            margin-left:40%;
            margin-top: 0px;
            justify-content: center;
        }        
        #section4{    
            background-size: 200%;
        }
        #conteneur_formulaire{
            width: 60%;
            padding-left: 100px;
            padding-right: 100px;
            justify-content: center;
        }
        .bouton_envoyer_formulaire{
            display: block;
            justify-content: center;
        } 
        .image_formulaire{
            display: none;
        }
        .footer_logo{
            text-align: center;
            padding-bottom: 40px;
        }
        footer{
            display: flex;
            flex-direction: column;
            padding-bottom: 10px;  
        }
        footer h3{
            display: flex;     
        }
        .lien_complet_footer{
            margin-left: 20%;
        }          
        .footer_lien{
            padding-right: 10px;
        }
        .footer_liens2{
            padding-left: 2px;
            padding-right: 40px;
        }
        .telechargement_appli{
            text-align: center;
        }
        footer p{
            padding-top: 10px;
            padding-bottom: 2px;
            text-align: center;
        }   
    }
    @media screen and (min-width: 884px) and (max-width: 982px){
        #section5 h4{
            padding: 0;
            text-align: center;
        }
        #section5 p{
            padding: 0;
            text-align: center;      
        }
        .footer_logo{
            text-align: center;
            padding-bottom: 40px;
        }
        footer{
            display: flex;
            flex-direction: column;
            padding-bottom: 10px;  
        }
        footer h3{
            display: flex;     
        }
        .lien_complet_footer{
            margin-left: 10%;
        }          
        .footer_lien{
            padding-right: 10px;
        }
        .footer_liens2{
            padding-left: 2px;
            padding-right: 40px;
        }
        .telechargement_appli{
            text-align: center;
            
        }
        footer p{
            padding-top: 10px;
            padding-bottom: 2px;
            text-align: center;
        }   
    }